@media screen and (max-width: 1024px) {
  body {
    zoom: 1 !important; 
    width: 1024px !important;
    overflow-x: auto;
  }
}

@media (orientation: portrait) {
  body {
    background: url("source/images/background_mobile_2.png") no-repeat center center fixed;
    /* background: url("source/images/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-bg.png") no-repeat center center fixed; */
    background-size: cover;
    /* .background-window {
      content: url("source/images/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-bg.png");
    } */
  }
}

@media (orientation: landscape) {
  body {
    background: url("source/images/background_1.png") no-repeat center center fixed;
    background-size: cover;
    /* background: url("source/images/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-bg.png") no-repeat center center fixed; */
    /* .background-image {
      content: url("source/images/background_1_empty.png");
    } */
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-size: cover;
  /* background-size: 55vw 60vh; */
  /* background-attachment: fixed; */
  position: relative;
  overflow: hidden;
  
  font-family: "Doto", sans-serif;
  font-weight: 600;

  -webkit-tap-highlight-color: transparent;
}

.background-image {
  position: absolute;
  /* top: 100vh;
  left: 100vw; */
  /* transform: translate(-50%, -50%); */
  /* width: 50vw; */
  /* height: 50vh; */
  /* object-fit: cover; */
  z-index: -1; 
}

/* .moving-background {
  background-repeat: repeat-x;
  animation: moveBackground 20s linear infinite;
  z-index: -2;

  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
} */

.moving-background {
  position: relative;
  height: 100vh;
  /* background-image: url('source/images/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-foreground-trees.png'); */
  /* background-image: url('https://www.transparenttextures.com/patterns/stardust.png');  */
  background-repeat: repeat-x;
  background-size: auto 100%; /* full height */
  animation: moveBackground 30s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* background-color: black; */

  z-index: -2;
}

#background-tree {
  background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: 
    2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;


  transform: translate(0%, 90%);
  background-size: 100vh;
  height: 40vh;
  background-image: url('source/images/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-foreground-trees.png');
}

#background-moutains {
  transform: translate(0%, 0%);
  background-size: 100vh;
  height: 40vh;
  background-image: url('source/images/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-mountains.png');
  z-index: -3;
}

@keyframes moveBackground {
  from {
      background-position: 200% 0;
  }
  to {
      background-position: -100% 0;
  }
}


@keyframes para {
  100% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
    }
  }

/* --------------- Objects ------------------ */

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.gif-object {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transition: filter 0.3s ease-in-out;
  pointer-events: auto;
}

.gif-object:hover {
  filter: drop-shadow(0 0 15px white);
}

.gif-object:hover .tooltip-box {
  visibility: visible;
  opacity: 1;
}

.tooltip-box {
  visibility: hidden; 
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5vh;
  position: absolute;
  bottom: 40%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; 
  transition: opacity 0.3s, visibility 0.3s;
}

@media (orientation: portrait) {
  #gif_cup_holder {
    height: calc((12vh + (var(--ratioDiff) * 0.5vw)));
    right: calc((40vw + (var(--ratioDiff) * 10vw)));
    top: calc((55.87458vh + (var(--ratioDiff) * 0.103218vh)));
  }
  
  #gif_laptop {
    height: calc(13vh);
    right: calc((38.6351vw + (var(--ratioDiff) * 27.85515vw)));
    /* top: calc(60vh); */
    top: clamp(59vh, calc((222.26436vh * var(--ratioDiff) * var(--ratioDiff) + 527.10843vh * var(--ratioDiff) + 371.20918vh)), 50vh);
  }
  
  #gif_cat {
    right: calc((65.03206vw + (var(--ratioDiff) * 24.3569vw)));
    top: calc(90vh + (var(--ratioDiff) * (5vh)));
    height: 15vh;
  }
  
  #gif_girl {
    clip-path: polygon(50% 0%, 100% 33%, 100% 100%, 0 100%, 0 0);

    left: clamp(-10vw, calc((var(--ratioDiff) * 100vw)), 5vw);
    /* left: clamp(-10vw, calc(214.28571vw * (var(--ratioDiff) + 144.71429vw)), -5vw); */
    height: calc(77.71648vh + (var(--ratioDiff)) * (28.28879vh));
    bottom: clamp(15vh, calc(-28.57143vh * (var(--ratioDiff)) - 17.14286vh), 20vh);
  }

  #gif_girl img {
    content: url("source/images/objects/girl_mobile_1.png");
  }
}
@media (orientation: landscape) {

  #gif_cup_holder {
    height: calc((13vh + (var(--ratioDiff) * 1vw)) * var(--isThin)
      + (1 - var(--isThin)) * (13vh + (var(--ratioDiff)) * 3vh));
  
    right: calc((37vw + (var(--ratioDiff) * 10vw)) * var(--isThin)
      + (1 - var(--isThin)) * (37vw + (var(--ratioDiff)) * 1vw));
  
    top: calc((60vh - (var(--ratioDiff) * 1vh)) * var(--isThin)
    + (1 - var(--isThin)) * (60vh + (var(--ratioDiff)) * 12vh));
  }
  
  #gif_cat {
    height: clamp(20vh, calc(23vh + (var(--ratioDiff)) * 10vh), 50vh);
    left: clamp(30vw, calc(40vw - (var(--ratioDiff)) * 2vw), 40vw);
    
    top: calc(47vh + (var(--isThin) * (var(--ratioDiff) * (-1vh)))
    + (1 - var(--isThin)) * ((var(--ratioDiff)) * (-3vh)));
  }
  
  #gif_laptop {
    right: calc((23vw + (var(--ratioDiff) * 20vw)) * var(--isThin)
      + (1 - var(--isThin)) * (23vw + (var(--ratioDiff)) * 1vw));
      
    top: calc(60vh + (var(--isThin) * (var(--ratioDiff) * (-2vh)))
    + (1 - var(--isThin)) * ((var(--ratioDiff)) * (7vh)));
  
    height: calc((20vh - (var(--ratioDiff) * 1vh)) * var(--isThin)
      + (1 - var(--isThin)) * (20vh + (var(--ratioDiff)) * 10vh));
  }
  
  #gif_girl {
    clip-path: polygon(40% 42%, 70% 43%, 100% 70%, 100% 100%, 62% 100%, 29% 86%, 1% 81%, 0 0, 37% 0);
  
    left: calc(20.5vw + (var(--isThin) * (var(--ratioDiff) * (30vw)))
    + (1 - var(--isThin)) * ((var(--ratioDiff)) * (-0.3vw)));
    
    height: calc(60vh + (var(--isThin) * (var(--ratioDiff) * (-2vh)))
    + (1 - var(--isThin)) * ((var(--ratioDiff)) * 30vh));
    
    bottom: calc(0vh + (var(--isThin) * (var(--ratioDiff) * 1vh))
    + (1 - var(--isThin)) * ((var(--ratioDiff)) * (-25vh)));
  }

  #gif_girl img {
    content: url("source/images/objects/girl.png");
  }
}

/* ------------------- Popups --------------------- */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  
  font-size: 2vh;
}

.popup.show {
  opacity: 1;
  visibility: visible;
}

.popup-body {
  width: auto;
  background-position: center;
  text-align: center;
  overflow-y: auto;

  max-width: 80vw;
  max-height: 80vh;
}

.popup-content {
  background-color: black;
  background-size: 100%;
  width: auto;
  background-position: center;
  text-align: center;
  font-size: large;
  color: whitesmoke;
  overflow-y: auto;

  max-width: 80vw;
  max-height: 80vh;

  border: 10px solid whitesmoke; 
  border-radius: 15px; 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
  padding: 1vh;
}

.popup-content video {
  position: relative;
  max-width: 77vw;
  /* max-width: inherit; */
  /* max-height: inherit; */
  max-height: 60vh;
}

#popup_video {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#video-wrapper {
  display: flex;
  gap: 10px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#popup_wrapper {
  display: flex;
}

.video-description {
  max-width: 77vw;
}

#video-btns {
  display: flex;
  flex-direction: column;
}

.button {
  background: transparent;
  border: none;
  color: whitesmoke;
  text-align: center;
  cursor: pointer;
}

.button:hover {
    opacity: 1;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.button:active {
  transform: scale(0.95);
}

.nav-btn {
  font-size: 8vh;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.close-btn {
  font-size: 5vh;
  display: flex;
  height: 10vh;
}

h1 {
  color: whitesmoke;
  font-size: 2vh;
  margin-bottom: 2vh;
}

a {
  color: violet;
  text-decoration: none;
  display: block;
  margin-bottom: 1vh; 
}

a:hover {
  text-decoration: underline;
}